<div class="row">
    <div class="container">
        <div class='row'>
            <h2 class="h">ANSWERS &amp; QUESTIONS</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ faqs._1.question }}</button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._1.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ faqs._2.question }}</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._2.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">{{ faqs._3.question }}</button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._3.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">{{ faqs._4.question }}</button>
                    </h2>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._4.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">{{ faqs._5.question }}</button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._5.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingsix">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">{{ faqs._6.question }}</button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._6.answer }}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingseven">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">{{ faqs._7.question }}</button>
                    </h2>
                </div>
                <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
                    <div class="card-body">{{ faqs._7.answer }}</div>
                </div>
            </div>
        </div>

    </div>
</div>