<!-- all products -->
<div class="products">
    <div class='row cosmetics'>
        <div class='container'>
            <div class='row'>
                <h2 class="h">PRODUCTS</h2>
            </div>
            <div class='row'>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img I"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img II"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img III"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img IIII"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img I"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img II"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img III"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img IIII"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img I"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img II"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img III"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img IIII"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img I"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img II"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img III"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class="card">
                        <div class="product-img IIII"></div>
                        <div>
                            <h4 class="name">Product Name</h4>
                            <p class="name">Product details</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>